<header>
<nav div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="navbar-brand">
                <a href="/"><h1><span>R</span>echerche de joueurs</h1></a>
            </div>

        </div>
        <div class="col-md-5">
            <form>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Connecté en tant que {{ app.user.username }}
                    -
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <form>
                    Recherche rapide <input type="text" name="recherche" value="Entrez un mot clé"> <input type="submit" value="Rechercher">
                </form>
            </div>

            <div class="navbar-collapse collapse">
                <div class="menu">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="/">Accueil</a></li>
                        <li role="presentation"><a href="{{ path('clubs') }}">Clubs</a></li>
                        <li role="presentation"><a href="{{ path('joueurs') }}">Joueurs</a></li>
                        <li role="presentation"><a href="{{ path('recherche') }}">Recherche</a></li>
                        <li role="presentation"><a href="{{ path('register') }}">Inscription</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
</header>