{# Twig qui permet d'afficher la  nav du site#}
<header>
<nav div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="navbar-brand">
                <a href="/"><h1><span>R</span>echerche de joueurs</h1></a>
            </div>

        </div>
        <div class="col-md-5">
            <form>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Connecté en tant que <a id="blue" href="{{ path('profile') }}">{{ app.user.username }}</a>
                    -
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navigation">
        <div class="container">


            <div class="navbar-collapse collapse">
                <div class="menu">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li role="presentation"><a href="{{ path('clubs') }}">Clubs</a></li>
                        <li role="presentation"><a href="{{ path('joueurs') }}">Joueurs</a></li>
                        <li role="presentation"><a href="{{ path('recherche') }}">Recherche</a></li>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {# Si l'utilisateur est admin, il voit un bouton qui va l'amener à l'admin du site#}
                            {% if is_granted("ROLE_ADMIN") %}
                                <li role="presentation"><a href="{{ path('admin') }}">Admin</a></li>
                                {# Si il est juste user il pourra voir son profil#}
                                {% else %}
                                    <li role="presentation"><a href="{{ path('profile') }}">Profil</a></li>
                             {% endif %}
                         {# Sinon il a le bouton pour s'inscrire #}
                        {% else %}
                            <li role="presentation"><a href="{{ path('register') }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
</header>