{% extends 'base.html.twig' %}

{% block body %}

        {{ include("nav.html.twig") }}


    <section>
        <div class="jumbotron">
            <h2>{{ joueur.prenom }} {{ joueur.nom }}</h2>
        </div>

        <div class="container greybackground">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <img class="floatLeft" src="{{ asset(joueur.image.uploadDir ~ '/' ~ joueur.image.id ~ '.' ~ joueur.image.src) }}" alt="{{ joueur.image.alt }}">
                <div id="textjoueur">
                    <p>Nom {{ joueur.nom }}</p>
                    <p>Prénom: {{ joueur.prenom }}</p>
                    <p>Date de naissance: {{ joueur.dateNaissance|date('d-m-Y') }}</p>
                    <p>Nationnalité: {{ joueur.nationnalite }}</p>
                    <p>Poste:  {{ joueur.positions | join(',')}}</p>
                    <p>Taille: {{ joueur.taille }} cm</p>
                    <p>Pied: {{ joueur.pied }} </p>
                    <p>Club:<a href="{{ path('club', {'id': joueur.club.id})}}"> {{ joueur.club.nom }}</a></p>
                </div>

            </div>

            <div class="clear"></div>
            <div>
                {{ form(form) }}
            </div>
        </div>

    </section>

{% endblock %}