{% extends 'base.html.twig' %}

{% block body %}

        {{ include("nav.html.twig") }}

    <section>
        <div class="jumbotron">
            <h2>Liste des joueurs</h2>
        </div>


        <div class="container greybackground">
            <table class="tabcenter">
                <tr>
                    <th>Nom du joueur</th>
                    <th>Année naissance</th>
                    <th>Nationalité</th>
                    <th>Club</th>
                </tr>
                {% for joueur in listJoueurs  %}
                <tr>

                    <td><a href="{{ path('joueur', {'id': joueur.id})}}">
                            {% if joueur.image is not null %}
                               <img class="imgMin floatLeft" src="{{ asset(joueur.image.uploadDir ~ '/' ~ joueur.image.id ~ '.' ~ joueur.image.src) }}" alt="Photo Olivier Deschacht">{{ joueur.prenom }}
                            {% endif %}
                            {{ joueur.nom }}</a><br> Défenseur central</td>
                    <td>{{ joueur.dateNaissance |date('Y') }} </td>
                    <td>{{ joueur.nationnalite }}</td>
                    <td><a href="{{ path('club', {'id': joueur.club.id})}} "><img class="imgMin" src="{{ asset(joueur.club.image.uploadDir ~ '/' ~ joueur.club.image.id ~ '.' ~ joueur.club.image.src) }}" alt="{{ joueur.club.image.alt }}"></a></td>

                </tr>
                {% endfor %}
            </table>
        </div>

    </section>

{% endblock %}